<div class="form-control">
	<%= form_for(@inquiry) do |f| %>
	<%= render 'shared/error_messages', object: @inquiry %>
		<div style="display: none">
			<%= f.label :nickname %>
			<%= f.text_field :nickname %>
		</div>
		<div class="form-group">
			<%= f.label :name %>
			<%= f.text_field :name %>
		</div>
		<div class="form-group">
			<%= f.label :email %>
			<%= f.text_field :email %>
		</div>
		<div class="form-group">
			<%= f.label :content, "Message" %>
			<%= f.text_area :content %>
		</div>
		<div class="form-submit">
			<%= f.submit "Send Message" %>
		</div>
	<% end %>
</div>